@use 'base/variables' as v;
@use 'base/mixins' as m;

.confirmar {
    margin-top: 5rem;
    .apptareas {
        @include m.textoDegradado(v.$naranja)
    }

    .acciones {
        justify-content: center;
        a {
            color: v.$naranja;
        }
    }

}